<!-- About Section -->
<section id="about" class="text-center fade-in-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About Me</h2>
        <hr class="star-primary">
        <p><strong>Cybersecurity Analyst</strong></p>

        <!-- Your Story -->
        <p>
          Cybersecurity trailblazer with a passion for safeguarding digital landscapes. Pursuing a <strong>Google Cybersecurity Professional Certificate</strong> and equipped with a solid foundation in healthcare, I blend compassion and tech-savviness to create a unique professional profile.
        </p>
        <p>
          My journey began as a curious teenager fascinated by <strong>coding</strong> and <strong>Linux</strong>. After a fulfilling stint as a <strong>home health aide</strong> and as a mother of two, I returned to tech with renewed focus and drive. I’ve honed my <strong>attention to detail</strong>, <strong>problem-solving abilities</strong>, and <strong>time management skills</strong>.
        </p>
        <blockquote class="about-quote">
          "From safeguarding patient care to protecting digital landscapes—it's all about trust, resilience, and vigilance."
        </blockquote>
        <p>
          Managing patient care required strict adherence to privacy and compliance standards, seamlessly translating to maintaining <strong>data confidentiality</strong> and <strong>regulatory compliance</strong> in cybersecurity.
        </p>
        <p>
          Throughout my career, I’ve conducted <strong>risk assessments</strong> and implemented <strong>preventative measures</strong>, which are vital in identifying and mitigating threats in digital environments. My ability to stay <strong>calm under pressure</strong> and <strong>communicate effectively</strong> has proven invaluable in emergencies and team collaborations.
        </p>
        <p>
          Armed with these skills, I’m ready to contribute to the cybersecurity field by safeguarding digital landscapes, uncovering vulnerabilities, and creating robust defenses. Whether it’s <strong>securing networks</strong>, <strong>analyzing malware</strong>, or <strong>educating users</strong>, I’m committed to making a difference.
        </p>
        <p>
          I recently completed my training with <strong>Merit America</strong>, involving 5 months of intensive professional development, the Google Cybersecurity Professional Certificate, and several hands-on technical projects. Together, let's create <strong>secure and resilient digital environments</strong>.
        </p>

        <!-- Resume Link -->
        <p>
          <a href="https://docs.google.com/document/d/1saBJyq4YnYdnFzg4WauMsKkzQzFMEgEG8Q2TyAJoM6s/edit?usp=sharing" target="_blank" class="btn btn-primary">
            View My Resume
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

