{% for post in site.posts %}
<div id="portfolioModal-{{ post.modal-id }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ post.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="img/portfolio/{{ post.img }}" alt="{{ post.alt }}" class="img-fluid mb-3">
        <p>{{ post.description }}</p>
        {% if post.project-url %}
        <a href="{{ post.project-url }}" target="_blank" class="btn btn-secondary">View Project</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
