<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">{{ post.title }}</h2>
        <hr class="star-primary">
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <img src="img/portfolio/{{ post.img }}" class="portfolio-image img-fluid" alt="{{ post.alt }}">
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
        {% if post.project-url %}
        <a href="{{ post.project-url }}" target="_blank" class="btn btn-primary">
          View Project
        </a>
        {% endif %}
        <ul class="list-inline item-details">
          {% if post.client %}
          <li>Client: <strong>{{ post.client }}</strong></li>
          {% endif %}
          {% if post.project-date %}
          <li>Date: <strong>{{ post.project-date }}</strong></li>
          {% endif %}
          {% if post.category %}
          <li>Service: <strong>{{ post.category }}</strong></li>
          {% endif %}
        </ul>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
