{% for post in site.posts %}
<div id="portfolioModal-{{ post.modal-id }}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ post.title }}</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img src="img/portfolio/{{ post.img }}" alt="{{ post.alt }}" class="img-fluid">
        <p>{{ post.description }}</p>
        {% if post.project-url %}
        <a href="{{ post.project-url }}" target="_blank" class="btn btn-primary">View Project</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
