<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  <div class="fade-in-section header">{% include header.html %}</div>
  <div class="fade-in-section portfolio">{% include portfolio_grid.html %}</div>
  <div class="fade-in-section about">{% include about.html %}</div>
  <div class="fade-in-section about">{% includes skills.html %}</div>
  <div class="fade-in-section footer">{% include footer.html %}</div>

  {% include modals.html %}
  {% include js.html %}

 
